body{
  max-width: 900px;
  margin: auto;
  background-color: rgb(224, 236, 247);
  color: rgb(90, 42, 42);
}

.jumbotron {
  text-align: center;
  border: brown 4px double;
  background-color: rgb(228, 204, 174);
}

.row {
  margin: 10px 0px;
}

dd {
  display: none;
}
dt:hover {
  text-decoration: underline;
  color: brown;
  cursor: pointer;
}

